@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(22, 22, 22);
  font-family: 'Epilogue', sans-serif;
}

.covered-by-your-grace-regular {
  font-family: var(--font-covered);
  font-weight: 400;
  font-style: normal;
}

.made-dillan {
  font-family: var(--font-dillan);
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: none !important;
}



html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myGenreSwiper {
  width: full;
  height: 361px;
}

.myColorSwiper {
  width: 325px;
  height: 230px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
}