@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  @apply max-w-md mx-auto;
  background: rgb(22, 22, 22);
  font-family: 'Epilogue', sans-serif;
}

.covered-by-your-grace-regular {
  font-family: var(--font-covered);
  font-weight: 400;
  font-style: normal;
}

.made-dillan {
  font-family: var(--font-dillan);
  font-weight: 400;
  font-style: normal;
}

.allenoire {
  font-family: var(--font-allenoire);
  font-weight: 400;
  font-style: normal;
}

.astralaga {
  font-family: var(--font-astralaga);
  font-weight: 400;
  font-style: normal;
}

.chillax {
  font-family: var(--font-chillax);
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: none !important;
}



html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myGenreSwiper {
  width: full;
  height: 361px;
}


.myFontSwiper{
  .swiper-slide-active{
    color: #FBFF37 !important;
  }
}
.activeGenre {
  .swiper-slide-visible {
    color: #FBFF37 !important;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #fff;
}


/* font style */
.welcome-text-stroke{
  -webkit-text-stroke: 1px #FE65C5;
  color: transparent;
}

.text-shadow-red {
  text-shadow: 5px 5px #cc0000;
  -webkit-text-stroke: 5px #cc0000;
  paint-order: stroke fill;
  font-weight: 700;
}

.text-shadow-blue {
  text-shadow: 5px 5px #0039A8;
  -webkit-text-stroke: 5px #0039A8;
  paint-order: stroke fill;
  font-weight: 700;
}

.text-shadow-yellow {
  text-shadow: 5px 5px #D53400;
  -webkit-text-stroke: 5px #D53400;
  paint-order: stroke fill;
  font-weight: 700;
}

.text-shadow-green {
  text-shadow: 5px 5px #07641B;
  -webkit-text-stroke: 5px #07641B;
  paint-order: stroke fill;
  font-weight: 700;
}

.button-shadow {
  filter: drop-shadow(4px 2px #B9FF46);
  border-color: #B9FF46;
  border-width: 2px;
  fill: #B9FF46;
}


/* Font screen  */
.bolder {
  text-shadow: 3px 1px 2px #000000;
  -webkit-text-stroke: 1px #000000;
  paint-order: stroke fill;

}

.DM_Serif_Display{
  font-family: '__DM_Serif_Display_fb0d26', serif !important;
}

.Archivo_Black{
  font-family: '__Archivo_Black_925659',
    '__Archivo_Black_Fallback_925659', sans-serif !important;
}

.Reenie_Beanie {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
}
.Dancing_Script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



